# DO NOT BUT YOUR DISCORD BOT TOKEN OR YOUR DISCORD DEVELOPER ID HERE! THIS FILE IS JUST TO SHOW WHAT YOU ".env" IS SUPPOSED TO LOOK LIKE

# Instead:
# 1) Create a new file called ".env" in the config directory
# 2) Copy .env.example to .env remove all comments
# 3) Check if .gitignore contains "**/.env"
# 4) Replace example values with your own discord bot token/developer id

# NEVER COMMIT ".env" TO VERSION CONTROL 
# THIS FILE IS AN EXAMPLE OF HOW YOUR ".env" FILE SHOULD LOOK LIKE

# Make sure to update your DEVELOPER_ID to your own user id to allow yourself to sync OutBot's command tree.

DISCORD_TOKEN=<YOUR_DISCORD_TOKEN_HERE>
DEVELOPER_ID=<YOUR_DEVELOPER_ID_HERE>